<table>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>amount</th>
        <th>currency</th>
        <th>count</th>
        <th>date</th>
    </tr>
    {% for expense in expenses %}
        <tr>
            <td>{{ expense.id }}</td>
            <td>{{ expense.name }}</td>
            <td>{{ expense.amount|float }}</td>
            <td>{{ expense.currency.name }}</td>
            <td>{{ expense.count|float }}</td>
            <td>{{ expense.date.strftime("%Y-%m-%dT%H:%M") }}</td>
        </tr>
    {% endfor %}
</table>
