html {
    background-color: #00539f;
}

body {
    width: 70%;
    margin: 50px auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

#alert {
    position: fixed;
    bottom: 60px;
    right: 30px;
    background-color: #f1f1f1;
    padding: 10px;
    visibility: visible;
}
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5rem 0.5rem 0;
}

summary {
  font-weight: bold;
  margin: -0.5rem -0.5rem 0;
  padding: 0.5rem;
}

details[open] {
  padding: 0.5rem;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5rem;
}